*{
    margin: 0;
    padding:0;
    
}
.sidebar{
    background-color: yellow;
    width: 10vw;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}
.sidebar nav
{
    padding: 10px;
}
.sidebar nav li
{
    list-style: none;
    font-size: 20px;
    padding: 3px;
    margin:0 ;
}
.main{
    background-color: red;
    width: 90vw;
}
.container{
    display: flex;
}